@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
 :root {
    --primarry-blue: #082338;
    --primary-green: #6DD47E;
}

*,
 ::after,
 ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(179, 223, 205);
}

.header {
    grid-area: header;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--primarry-blue);
    color: white;
    height: 12vh;
}

.content {
    grid-area: content;
    margin-top: 6rem;
    margin-right: 2rem;
    margin-left: 1rem;
}

.side-bar {
    grid-area: side-bar;
    margin: 6rem 2rem 0rem 0rem;
    position: fixed;
    font-family: 'Lexend', sans-serif;
    color: white;
    padding: 1rem;
    top: 7%;
    font-weight: bold;
    width: 14%;
    height: 80.5vh;
    border-radius: 0 1.5rem 1.5rem 0;
    background-color: var(--primarry-blue);
    text-align: center;
    box-shadow: 7px 5px 13px 1px black;
    min-width: 100px;
}

hr {
    margin: 1rem;
}

.side-bar>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.side-bar>ul>li {
    width: 100%;
}

.side-bar>ul>li>a {
    text-decoration: none;
    color: white
}

.side-bar>ul>li>a:hover {
    background-color: white;
    color: black;
    display: block;
    box-shadow: 7px 2px 13px 1px black;
    border-radius: 1rem;
    transition: 0.2s ease-out;
}

.footer {
    grid-area: footer;
}

.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 3rem auto;
    grid-template-areas: "header header" "side-bar content" "footer footer";
}

.teal-card {
    background-color: rgba(0, 128, 128, 0.562);
    border: 3px solid teal;
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 2rem;
}

.offwhite-card {
    background-color: #f0e3be;
    border: 3px solid rgb(0, 0, 0);
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 2rem;
}

.avatars {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-heading {
    font-size: 40px;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.alerts {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.alert {
    padding: 10px;
    letter-spacing: 2px;
    font-weight: bold;
    padding-left: 1rem;
    margin-bottom: 10px;
    color: white;
    font-size: 25px;
}

.sub-heading {
    margin-bottom: 1rem;
    margin-top: 1rem;
}


/* badges are form header */

.green-image {
    background: url("../images/female.png");
    width: 5rem;
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.black-image {
    background: url("../images/female.png");
    width: 5rem;
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.gray-image {
    background: url("../images/male.png");
    width: 5rem;
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.image>div {
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    right: -5%;
    top: 50%;
}

.badges-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.green-dot {
    background: green;
}

div.gray-dot {
    background: gray;
}

div.red-dot {
    background: red;
}

.green-image {
    background: url("../images/female.png");
    width: 5rem;
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.red-image {
    background: url("../images/female.png");
    width: 5rem;
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.gray-image {
    background: url("../images/male.png");
    width: 5rem;
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

div.dot {
    width: 100px;
    height: 30px;
    background-color: rgb(250, 250, 250);
    border-radius: 0px;
    position: absolute;
    top: 38%;
    left: 100%;
    display: none;
    border: 1px solid black;
}

.image:hover>div.dot {
    display: block;
    border-radius: 1rem;
    text-align: center;
    font-size: 0.7rem;
    padding-top: 0.4rem;
}

.icons {
    border: 1px solid black;
    padding: 1rem;
    font-size: 30px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 4px 9px 1px rgb(0 0 0);
    position: relative;
}

.icon-tag {
    position: relative;
    z-index: 1;
}

.number-on-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 0px;
    z-index: 2;
    color: white;
    border: 1px solid white;
    overflow: hidden;
    right: -13px;
    top: -6px;
}

.inline-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 2rem;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons img {
    margin-right: 10px;
}

.product-img {
    grid-area: "product-img";
    background: url("../images/item1.jpeg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    width: 100%;
    margin-top: 1rem;
    background-size: contain;
}

.product-regulator {
    margin-top: 1rem;
    margin-left: 20px;
    text-align: center;
    grid-area: "regulator";
    width: 70%
}

.product-desc {
    grid-area: "desc";
    margin-top: 1rem;
}

.product-card {
    display: grid;
    background: white;
    grid-template-columns: 190px 1fr;
    grid-template-rows: 10rem 3rem;
    grid-template-areas: "product-img desc" "regulator desc";
    grid-gap: 10px;
    margin: auto;
    border: 1px solid black;
    max-width: 80%;
    padding: 1rem 0;
    border-radius: 20px;
}

.product-regulator span {
    border: 1px solid black;
    margin: 0 4px;
    padding: 3px 17px;
    font-weight: bold;
}

.product-regulator button {
    padding: 0 10px;
    border-radius: 50%;
    height: 30px;
    border: 1px solid gray;
    background-color: white;
    font-weight: bold;
    width: 30px;
}

.product-information h2,
.product-information h3 {
    display: inline;
    margin-right: 1rem;
    margin-top: 1rem;
}

.product-information * {
    margin-bottom: 20px;
}