@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
:root {
    --primarry-blue: #082338;
    --primary-green: #6DD47E;
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.header {
    grid-area: header;
    text-align: center;
    padding: 2rem;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--primarry-blue);
    color: white;
    height: 12vh;
}

.content {
    grid-area: content;
    margin-top: 6rem;
}

.side-bar {
    grid-area: side-bar;
    margin: 6rem 2rem 0rem 0rem;
    position: fixed;
    font-family: 'Lexend', sans-serif;
    color: white;
    padding: 1rem;
    top: 7%;
    width: 14%;
    height: 80.4vh;
    border-radius: 0 1.5rem 1.5rem 0;
    background-color: var(--primarry-blue);
    text-align: center;
    box-shadow: 7px 5px 13px 1px black;
}

hr {
    margin: 1rem;
}

.side-bar>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.side-bar>ul>li {
    width: 100%;
}

.side-bar>ul>li>a {
    text-decoration: none;
    color: white
}

.side-bar>ul>li>a:hover {
    background-color: white;
    color: black;
    display: block;
    box-shadow: 7px 2px 13px 1px black;
    border-radius: 1rem;
    transition: 0.2s ease-out;
}

.footer {
    grid-area: footer;
}

.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 3rem auto;
    grid-template-areas: "header header" "side-bar content" "footer footer";
}

.teal-card {
    background-color: rgba(0, 128, 128, 0.562);
    border: 3px solid teal;
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 2rem;
}

.offwhite-card {
    background-color: #f0e3be;
    border: 3px solid rgb(0, 0, 0);
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 2rem;
}

.avatars {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-heading {
    font-size: 40px;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.alerts {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.alert {
    padding: 10px;
    letter-spacing: 2px;
    font-weight: bold;
    padding-left: 1rem;
    margin-bottom: 10px;
    color: white;
    font-size: 25px;
}

.green-dot,
.gray-dot,
.red-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.user-log {
    position: relative;
}

.green-dot {
    background-color: green;
    position: absolute;
    left: 13.4rem;
    bottom: 2rem;
}

.red-dot {
    background-color: red;
    position: absolute;
    right: 9.3rem;
    bottom: 2rem;
}

.gray-dot {
    background-color: gray;
    bottom: 2rem;
    position: absolute;
    right: 32.7rem
}